@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'cofo-brilliant';
  src: url('/cofo-brilliant.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'cofo-brilliant', sans-serif; /* Add this */
}

